*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 160rem;
    margin: 10px auto;
    background-color: rgb(130, 30, 224);
}

.timeline{
    background-color: rgb(209, 12, 38);
    max-width: 300px;
    position: relative;
    left: 400px;
}

.container{
    background-color: rgb(24, 201, 139);
    width: 300px;
    height: 300px;
    /* position: relative; */
    top: 330px;
}

.textbox{
    background-color: rgb(0, 132, 255);
    width: 300px;
    /* position: relative; */
    left: 330px;
}